{{- if .ContactEmail }}{
  email {{ .ContactEmail }}
}

{{ end -}}
{{- range .Sites }}
{{ .Address }} {
  root * {{ .DecoyRoot }}

  handle_path /sub/* {
    root * {{ .SubscriptionRoot }}
    try_files {path} {path}.txt =404
    header Content-Type "text/plain; charset=utf-8"
    file_server
  }

{{- range .Routes }}
  @{{ .MatcherName }} {
    path {{ .Path }} {{ .PrefixPath }}
  }
  reverse_proxy @{{ .MatcherName }} {{ .Backend }}{{ if .UseH2C }} {
    transport http {
      versions h2c 2
    }
  }{{ end }}

{{- end }}
  file_server
}

{{- end }}
